{% extends "auctions/layout.html" %}

{% block body %}

    

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}


    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 p-2">
            <form action="{% url 'auctions:login' %}" method="post">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                <!-- username -->
                <div class="mb-3">
                    <input autofocus name="username" class="form-control" placeholder="Username...">
                </div>
                <!-- password -->
                <div class="input-group mb-3">
                    <input name="password" type="password" class="form-control" placeholder="Password...">
                </div>
                <input class="btn btn-primary w-100 py-2" type="submit" value="Login">
            </form>
            <br>
            Don't have an account? <a href="{% url 'auctions:register' %}">Register here.</a>
        </div>        
    </div>

{% endblock %}